$background-color-steaker-task-light: #F7DC6F;
$background-color-steaker-task-dark: #F4D03F;
$background-color-steaker-examples-light: #D7BDE2;
$background-color-steaker-examples-dark: #C39BD3;
$background-color-burger-line: #16A085;
$shadow: #ABB2B9;
$header: #A93226; 

.level-container {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 23px;
  grid-area: level;
  position: relative;
}

.level_progress {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.level_progress-header {
  font-size: 32px;
  opacity: 0.7;
  @media screen and (max-width: 725px) {
    font-size: 30px;
  }
  @media screen and (max-width: 520px) {
    font-size: 25px;
  }
}
.level_progress-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.progress {
  margin-right: 5px;
}
.check-icon {
  width: 30px;
  height: auto;
}
.icon-left,
.icon-right {
  cursor: pointer;
  width: 45px;
  @media screen and (max-width: 725px) {
    width: 35px;
  }
  @media screen and (max-width: 620px) {
    width: 25px;
  }
}

.icon-right {
  transform: rotate(180deg);
}

.burger-menu {
  cursor: pointer;
  z-index: 2;
}
.burger-menu__active {
  .burger_line:first-child {
    transform: translateY(5px) rotate(45deg);
  }
  .burger_line:nth-child(2) {
    display: none;
  }
  .burger_line:last-child {
    transform: translateY(-5px) rotate(-45deg);
  }
}

.burger_line {
  width: 50px;
  height: 5px;
  background-color: $background-color-burger-line;
  border: 1px solid #000000;
  border-radius: 1px;
  opacity: 0.7;
  transition: transform 0.5s;

  @media screen and (max-width: 725px) {
    width: 35px;
  }
  @media screen and (max-width: 620px) {
    width: 30px;
  }
}

.burger_line:first-child {
  margin-bottom: 4px;
}

.burger_line:last-child {
  margin-top: 4px;
}

.level_header,
.level_subheader {
  margin-top: 15px;
  font-size: 1.4em;
  opacity: 0.7;
}

.level_task {
  background-color: $background-color-steaker-task-light;
  border-radius: 5px;
  box-shadow: $shadow 2.5px 10px 15px;
}
.level_header {
  background-color: $background-color-steaker-task-dark;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.level_header,
.level_task-name,
.level_selector,
.level_content {
  padding: 0px 5px;
}

.level_task-name {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2em;
  color: $header;
}

.level_selector {
  margin-left: 5px;
  margin-bottom: 10px;
  font-weight: 600;
}

.level_content__highlight {
  font-weight: 600;
  color: $header;
  white-space: nowrap;
  
}

.level_examples {
  margin-top: 35px;
  background-color: $background-color-steaker-examples-light;
  border-radius: 5px;
  box-shadow: $shadow 2.5px 10px 15px;
}
.level_subheader {
  margin-bottom: 10px;
  background-color: $background-color-steaker-examples-dark;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.line {
  border: 1px solid black;
  width: 90%;
  opacity: 0.2;
  margin-top: 5px;
}
