// @import 'normalize.css';
$border: #c0392b;
$square-green: #16a085;
$code-line-title: #f7dc6f;
$code-line: #fffcee;
$code-line-number: #eae8da;

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Caveat', cursive;
  box-sizing: border-box;
}

.page {
  max-width: 1250px;
  // background-size: 80vw 80vh;
  margin: 15px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
  grid-template-areas: 
    'header header header header header'
    'main main main main level'
    'footer footer footer footer footer';
}

.header {
  grid-area: header;
  padding: 5px 20px;
  border-bottom: solid 3px $border;
}

.header_title {
  font-size: 45px;
}

.game {
  padding-left: 20px;
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: solid 3px $border;

}

.view {
  text-align: center;
}

.view_task {
  font-size: 50px;
  font-weight: 400;
  margin-top: 25px;
}

.view_game {
  margin-top: 15px;
  width: 500px;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.view_square {
  width: 95px;
  height: 95px;
  border: 3px solid $square-green;
}


.game-field {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.game-field_title {
  font-size: 32px;
  background-color: $code-line-title;
}

.html-viewer,
.css-editor {
  background-color: $code-line;
  margin: 2px;
}

.code {
  list-style: none;
  counter-reset: my-counter;
  font-size: 20px;
}
.code-line * {
  font-family: monospace;
}
.code-line {
  counter-increment: my-counter;
  padding: 3px 0px;
  font-family: monospace;
}

.code-line::before {
  content: counter(my-counter);
  margin-right: 4px;
  background-color: $code-line-number;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  font-family: monospace;
}

.code-line_content {
  font-family: monospace;
}
.comment {
  opacity: 0.5;
}
.answer {
  font-family: monospace;
  background-color: transparent;
  font-size: 1em;
  border: 0px;
  outline: none;
  &:focus {
    background-color: transparent;
    border: 0px;
  }
  &:active {
    background-color: transparent;
    border: 0px;
  }
}


.footer {
  grid-area: footer;
}
