// @import 'normalize.css';
$border: #c0392b;
$square-green-light: #e8f8f5  ;
$square-green-dark: #0e6655 ;
$code-line-title: #f7dc6f;
$code-line: #fffcee;
$code-line-number: #eae8da;
$code-line-number-dark: #cbcabf;
$background-color-steaker-view-light: #d6eaf8;
$background-color-steaker-view-dark: #aed6f1;
$link: #a569bd;
$link-hover: #45b39d;
$tag-color: #0271bb;
$corner-bracket-color: #98abb8;
$shadow: #abb2b9;

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Caveat', cursive;
  box-sizing: border-box;
}

.page {
  max-width: 1230px;
  background-size: 80vw 80vh;
  margin: 15px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
  grid-template-areas: 
    'header header header header header'
    'main main main main level'
    'footer footer footer footer footer';
  @media screen and (max-width: 870px) {
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-areas: 
      'header header header header'
      'main main main level'
      'footer footer footer footer';
  }
  @media screen and (max-width: 610px) {
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-template-areas: 
      'header header header'
      'main main level'
      'footer footer footer';
  }
}

.header {
  grid-area: header;
  padding: 5px 10px;
  border-bottom: solid 3px $border;
}

.header_title {
  font-size: 45px;
}

.game {
  padding-left: 10px;
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: solid 3px $border;

}

.view {
  margin-top: 25px;
  text-align: center;
  background-color: $background-color-steaker-view-light;
  border-radius: 5px;
  box-shadow: $shadow 2.5px 10px 15px;
  width: 500px;
  min-height: 300px;
  @media screen and (max-width: 870px) {
    width: 85%;
  }
}

.win-message {
  margin-top: 50px;
  font-size: 35px;
}

.view_task {
  padding: 2px;
  font-size: 50px;
  font-weight: 400;
  background-color: $background-color-steaker-view-dark;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  opacity: 0.7;

  @media screen and (max-width: 750px) {
    font-size: 40px;
  }
}

.view_game {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  transition: opacity 0.5s;

  @media screen and (max-width: 700px) {
    column-gap: 10px;
  }

  @media screen and (max-width: 580px) {
    margin-top: 20px;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 20px;
  }
}

.view_game__completed {
  opacity: 0;
}

.view_square,
.view_square__yellow,
.view_square__red {
  width: 95px;
  height: 95px;
  position: relative;
  background-color: $square-green-light;
  border: 3px solid $square-green-dark;
  border-radius: 3px;
  opacity: 0.7;
  transition: opacity 0.4s, background-color 0.4s;

  @media screen and (max-width: 700px) {
    width: 80px;
    height: 80px;
  }
}

.view_circle,
.view_circle__yellow,
.view_circle__red {
  width: 95px;
  height: 95px;
  position: relative;
  background-color: $square-green-light;
  border: 3px solid $square-green-dark;
  border-radius: 50%;
  opacity: 0.7;
  transition: opacity 0.4s, background-color 0.4s;

  @media screen and (max-width: 700px) {
    width: 80px;
    height: 80px;
  }
}

.view_square__yellow,
.view_circle__yellow {
  border: 3px solid $code-line-title;
  background-color: $code-line;
}

.view_circle__red,
.view_square__red {
  border: 3px solid $border;
  background-color: $code-line;
}

.view_element__inside {
  width: 100%;
  height: 100%;
}

@keyframes element {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

.view_element__animation {
  animation: element;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
}

.view_element__active {
  opacity: 1;
  background-color: #ffffff;
}

.view_tag-name {
  position: absolute;
  white-space: nowrap;
  max-width: 300px;
  text-align: left;
  top: -38px;
  left: 20px;
  font-size: 23px;
  opacity: 0;
  transition: opacity 0.15s;
  z-index: 3;
  @media screen and (max-width: 980px) {
    background-color: #ffffff;
    border-radius: 5px;
  }
}

.view_tag-name__active {
  opacity: 1;
}
.game-field {
  margin-top: 40px;
  padding: 0px 5px;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  'css html';
  width: 100%;
  column-gap: 10px;
  row-gap: 10px;

  @media screen and (max-width: 870px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr;
    grid-template-areas: 
    'html'
    'css';
  }
}

@keyframes mistake {
  0% {
    transform: translateX(5px);
  }
  50% {
    transform: translate(-10px);
  }
  100% {
    transform: translate(5px);
  }
}
.game-field__mistake {
  animation: mistake;
  animation-duration: 150ms;
  animation-iteration-count: 3;
}

.game-field_title {
  font-size: 32px;
  background-color: $code-line-title;
}

.html-viewer {
  grid-area: html;
}

.css-editor {
  grid-area: css;
}

.html-viewer,
.css-editor {
  background-color: $code-line;
  width: 100%;

  @media screen and (max-width: 530px) {
    width: 90%;
  }
}

.code {
  list-style: none;
  counter-reset: my-counter;
  font-size: 16px;
}
.code-line * {
  font-family: monospace;
  cursor: default;
}
.code-line {
  counter-increment: my-counter;
  padding: 3px 0px;
  font-family: monospace;
  white-space: nowrap;
  @media screen and (max-width: 540px) {
    overflow: auto;
  }
}

.code-line::before {
  content: counter(my-counter);
  margin-right: 4px;
  background-color: $code-line-number;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 18px;
  height: 18px;
  font-family: monospace;
}

.code-line_content {
  cursor: auto;
  font-family: monospace;
  transition: opacity 0.2s;
}

.code-line_content__active {
  opacity: 0.7;
}

.comment {
  opacity: 0.5;
  white-space: nowrap;
  @media screen and (max-width: 540px) {
    overflow: auto;
  }
}

@keyframes flashing {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: $background-color-steaker-view-dark;
    opacity: 0.5;
  }
  100% {
    background-color: transparent;
    opacity: 1;
  }
}

.tag-name {
  color: $tag-color;
}

.tag-open,
.tag-close {
  color: $corner-bracket-color;
}

.tag-attributes {
  color: $border;
}


.answer {
  width: 65%;
  height: 18px;
  font-family: monospace;
  background-color: transparent;
  font-size: 1em;
  border: 0px;
  border-radius: 2px;
  outline: none;
  &:focus {
    background-color: transparent;
    border: 0px;
  }
  &:active {
    border: 0px;
  }

  @media screen and (max-width: 965px) {
    max-width: 60%;
  }
}

.answer__animation {
  animation: flashing;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;

  &:focus {
    animation: flashing;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;

  }
}

.answer-submit {
  width: 65px;
  height: 20px;
  font-size: 1em;
  text-align: center;
  background-color: $code-line-number;
  border: 2px solid $code-line-number-dark;
  box-shadow: 1px 1px 2px $code-line-number-dark;
  cursor: pointer;

  &:active {
    box-shadow: 0px 0px 0px;
  }

  @media screen and (max-width: 965px) {
    max-width: 50px;
  }
}

.footer {
  margin-top: 50px;
  padding: 0px 10px;
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.contact-info {
  width: 495px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  @media screen and (max-width: 750px) {
    flex-direction: column;
    row-gap: 5px;
    justify-content: flex-start;
  }
}

.school-info {
  width: 90px;
}

.school-logo {
  width: 100%;
}

.link {
  cursor: pointer;
  text-decoration: none;
  color: $link;

  &:hover {
    color: $link-hover;
  }
}
