// @import 'normalize.css';
$border: #c0392b;
$square-green-light: #e8f8f5  ;
$square-green-dark: #0e6655 ;
$code-line-title: #f7dc6f;
$code-line: #fffcee;
$code-line-number: #eae8da;
$code-line-number-dark: #cbcabf;
$background-color-steaker-view-light: #d6eaf8;
$background-color-steaker-view-dark: #aed6f1;
$shadow: #abb2b9;

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Caveat', cursive;
  box-sizing: border-box;
}

.page {
  max-width: 1250px;
  background-size: 80vw 80vh;
  margin: 15px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
  grid-template-areas: 
    'header header header header header'
    'main main main main level'
    'footer footer footer footer footer';
}

.header {
  grid-area: header;
  padding: 5px 20px;
  border-bottom: solid 3px $border;
}

.header_title {
  font-size: 45px;
}

.game {
  padding-left: 20px;
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: solid 3px $border;

}

.view {
  margin-top: 25px;
  text-align: center;
  background-color: $background-color-steaker-view-light;
  border-radius: 5px;
  box-shadow: $shadow 2.5px 10px 15px;
}

.view_task {
  font-size: 50px;
  font-weight: 400;
  background-color: $background-color-steaker-view-dark;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  opacity: 0.7;
}

.view_game {
  margin-top: 15px;
  width: 500px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.view_square {
  width: 95px;
  height: 95px;
  position: relative;
  background-color: $square-green-light;
  border: 3px solid $square-green-dark;
  border-radius: 3px;
  opacity: 0.7;
  transition: opacity 0.4s, background-color 0.4s;
}

.view_element__active {
  opacity: 1;
  background-color: #ffffff;
}

.view_tag-name {
  position: absolute;
  width: 160px;
  top: -38px;
  left: 20px;
  font-size: 23px;
  opacity: 0;
  transition: opacity 0.15s;
}

.view_tag-name__active {
  opacity: 1;
}
.game-field {
  margin-top: 40px;
  padding: 0px 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  column-gap: 10px;
}

.game-field_title {
  font-size: 32px;
  background-color: $code-line-title;
}

.html-viewer,
.css-editor {
  background-color: $code-line;
}

.code {
  list-style: none;
  counter-reset: my-counter;
  font-size: 16px;
}
.code-line * {
  font-family: monospace;
  cursor: default;
}
.code-line {
  counter-increment: my-counter;
  padding: 3px 0px;
  font-family: monospace;
}

.code-line::before {
  content: counter(my-counter);
  margin-right: 4px;
  background-color: $code-line-number;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30px;
  height: 30px;
  font-family: monospace;
}

.code-line_content {
  cursor: auto;
  font-family: monospace;
  transition: opacity 0.2s;
}

.code-line_content__active {
  opacity: 0.7;
}

.comment {
  opacity: 0.5;
}

@keyframes flashing {
  from {background-color: transparent}
  to {background-color: $background-color-steaker-view-dark}
}


.answer {
  width: 65%;
  height: 25px;
  font-family: monospace;
  background-color: transparent;
  font-size: 1em;
  border: 0px;
  border-radius: 2px;
  outline: none;
  &:focus {
    background-color: transparent;
    border: 0px;
  }
  &:active {
    border: 0px;
  }
}

.answer__animation {
  animation: flashing;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  &:focus {
    animation: flashing;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
  }
}

.answer-submit {
  width: 65px;
  height: 30px;
  font-size: 1em;
  text-align: center;
  background-color: $code-line-number;
  border: 2px solid $code-line-number-dark;
  box-shadow: 1px 1px 2px $code-line-number-dark;
  cursor: pointer;

  &:active {
    box-shadow: 0px 0px 0px;
  }
}

.footer {
  grid-area: footer;
}
